:root {
  --standard-padding: 0 1em 0 1em;
  --white: #FDFDFD;
  --black: #333333;
  --green: #094936;
  --blue: #55EABD;
  --altone-bold: 'Altone Trial', sans-serif;
  --altone-reg: 'Altone Trial Regular', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color:var(--white);
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-areas: 
  'header'
  'hero'
  'innovation'
  'experience'
  'responsibility'
  'footprint'
  'booking'
  'roomdisplay'
  'contact'
  ;

  grid-template-columns: 1fr;
  grid-template-rows: auto ;
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  padding: var(--standard-padding);
  width: 100%;
  min-height: 3.7em;
  background-color: transparent;
  position: fixed;
  z-index: 999;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.header__navbar {
  height: 100%;
  width: 100%;
}

.header__navbar--mobile {
  width: auto;
}

.header__logo {
  width: 50px;
  height: auto;
}

.header__image {
  width: 100%;
  height: 100%;
}

.header__navbar--desktop {
  display: none;
/*   width: 100%;
 */}

.header__menu-icon {
  width: 60px;
  height: auto;
}

.hero {
  display: flex;
  font-family: var(--altone-bold);
  grid-area: hero;
  height: 100vh;
  width: 100%; 
  position: relative;
  align-items: center;
}

.hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__heading-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  line-height: 3rem;
  color: var(--blue);
/*   margin: 0;
 *//*   font-weight: 700;
 */  padding: 0 0 16em 1.5em;
}

.hero__experience {
  font-size: 2.8rem;
  color: var(--white);
  padding-left: 0.1em;
/*   margin: 0;
 */}

/* .hero__heading {
  padding: 0;
  margin: 0;
} */

.hero__bonzai {
  color: var(--blue);
  margin: 0;
/*   padding-left: 0.1em;
 */  letter-spacing: -7px;
  font-size: 5.5rem;
/*   padding: 0;
 */}

.hero__slogan {
  font-weight: 500;
  color: var(--white);
  font-size: 1.5rem;
  width: 12em;
  letter-spacing: -1px;
  line-height: 1.5rem;
  padding-left: 0.3em;
}

.hero__slogan-highlight {
  color: var(--blue);
}

.button {
  font-family: var(--altone-bold);
  font-size: 1.5rem;
  position: absolute;
  width: 8em;
  height: 2em;
  background-color: transparent;
  color: var(--white);
  border: 2px solid var(--white);
  margin-left: 1.3em;
  border-radius: 16px;
  font-weight: 700;
  box-shadow: 0 0 2px 0;
  letter-spacing: -1px;
}

.button--hero {
  margin-top: 2em;
}

.hero__wrapper {
  position: absolute;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 0;
  top: 85%;
  gap: 5px;
  width: 100%;
}

.hero__learn-more {
  font-size: 1.5rem;
  font-family: var(--altone-bold);
}

.hero__learn-more-icon {
  height: auto;
  width: 40px;
}

.content {
  font-family: 'Altone Trial';
  background-color: var(--white);
  height: 70vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5em;
  padding: 0 1.5em 0 1.5em;
}

.heading__container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.content__heading {
  font-size: 2.7rem;
  text-align: left;
  color: var(--black);
  letter-spacing: -2px;
  padding-top: 1em;
}

.content__info {
  font-size: 1.3em;
  font-weight: 300;
  text-align: left;
}

.content__image-container {
  width: 24em;
  height: 18em;
}

.content__image {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

/* innovation */

.content--innovation {
  grid-area: innovation;
  padding: 0;
}

.content__heading--innovation {
  text-align: center;
}

.content__info--innovation {
  text-align: center;
}

.innovation__heading--highlight {
  color: var(--blue); 
}

.innovation__heading-care {
  font-weight: 600;
}

/* Experience */

 .content--experience {
  grid-area: experience;
  background-color: var(--green);
 }

 .content__heading--experience {
  font-size: 2.7rem;
  color: var(--blue);
  text-align: left;
 }

 .content__info--experience {
  font-size: 1.3em;
  color: var(--white);
 }

/* Responsibility */

.content--responsibility {
  grid-area: responsibility;
}

.content__heading--responsibility {
  color: var(--black);
}

.content__info--responsibility {
  font-size: 1.3em;
  color: var(--black);
}

/* Footprint */

.content--footprint {
  height: 100vh;
  grid-area: footprint;
  background-color: var(--green);
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.content__heading--footprint {
  color: var(--blue);
}

.content__info--footprint {
  color: var(--white);
}

.content__heading--book-stay{
  font-size: 2.2rem;
  color: var(--blue);
  text-align: center;
  padding: 0;
}

/* Booking */

.content--booking {
  grid-area: booking;
  font-size: 1.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.booking__input {
  gap:0.3em;
  text-align: center;
}

#check-in-date, #check-out-date, #guests {
  font-family: 'Poppins';
  width: 13em;
  height: 2em;
  font-size: 1.5rem;
  border: 2px solid black;
  padding-left: 0.2em;
  border-radius: 10px;
}

#booking__guests-content, #booking__guests-check-out-date, #booking__guests-check-in-date {
  font-size: 1rem;
}

.button--find-room {
  position: relative;
  border: none;
  background-color: var(--blue);
  margin: 0;
  font-size: 1.8rem;
}

.button--booking {
  position: relative;
  border: none;
  background-color: var(--blue);
  margin: 1.5em 0 0 0;
  font-size: 1.8rem;
}

/* Room display */

.content--room-display {
  grid-area: roomdisplay;
  background-color: var(--green);
}

.content__heading--room-display {
  color:var(--blue)
}

.content__info--room-display {
  font-size: 1.7rem;
  text-align: center;
  color: var(--blue);
}

.room-display__room-list {
  display: grid;
  gap:3em;
  min-height: 30vh;
  margin-bottom: 4em;
}

.room-display__room-item {
  width: 100%;
  max-width: 24em;
  min-height: 30em;
  background-color: var(--white);
  border-radius: 16px;
}

.room-display__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.room-display__header {
  height: 1.5em;
  font-size: 2.6rem;
  padding: 0 1em 1em 0.3em;
  font-weight: 700;
  color: var(--black);
}

.room-display__description {
  font-size: 1.4rem;
  padding: 0 1em 1em 0.6em;
  color: var(--black);
  line-height: 1.4rem;
}

.room-display__footer {
  display: flex;
  height: 5.4em;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  align-items: center;
  padding: 0 1em 0 1em;
  justify-content: space-between;
}

.button--booking {
  margin: 0;
  width: 7em;
  font-size: 1.7rem;
}

.room-display__price {
  font-family: 'Poppins';
  font-size: 1.7rem;
  font-weight: bold;
}

/* Contact */

.content--contact {
  grid-area: contact;
  min-height: 35vh;
  background-color: var(--white);
  font-size: 2.3rem;
  align-items: left;
  padding: 0 0.5em 0 0.5em;
  gap: 1em;
}

.content__heading--contact {
  width: 100%;
  text-align: left;
}

.contact__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1em;
}

.adress, .email {
  font-weight: 600;
}
.contact__heading-content-adress {
  font-family: 'Poppins';
  font-size: 1.6rem;
  width: 12em;
}


@media (min-width: 1025px) {

  body {
    padding: 0;
    margin:0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color:var(--white);
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
    'header header'
    'hero hero'
    'innovation innovation'
    'experience experience'
    'responsibility responsibility'
    'footprint footprint'
    'booking booking'
    'roomdisplay roomdisplay'
    'contact contact'
    ;
  
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto ;
  }

  .header {
    width: 100%;
    overflow: hidden;
    width: 100%;
    margin: 0; 
  }
  .header__navbar--mobile {
    display: none;
    width: 100%;
  }

  .header__navbar {
    height: 100%;
    width: 100%;
  }

  .header__navbar--desktop {
    display: flex;
    align-items: center;
    height: 3.5em;
    justify-content: center;
    gap: 5em;
    width: 100%;
  }

  .header__navbar-link {
    font-family: 'Altone Trial';
    font-size: 1.5rem;
    color: var(--white);
    margin-right:7% ;
  }

  .hero__heading-container {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    padding: 0 0 10em 7em;
  }
  .hero__heading {
  
    width: 20em;
    line-height: 3.5rem;
  }

  .hero__bonzai {
    font-size: 7rem;
  }
  
  .hero__slogan {
   width: 28em;
  }

  .button--hero {
    margin: 8em 0 0 5em;
  }

  /* Innovation-section */

  .content--innovation {
    display: flex;
    height: 60vh;
    padding: 0;
    align-items: center;
    justify-content: center;
  }

  .innovation {
    
    display: grid;
    width: 80%;
    height: 100%;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }

  .heading__container--innovation {
    text-align: right;
    grid-column: 1;
    max-width: 100%;
    max-height: 100%;
    gap: 2em;
    justify-self: center;
  }

  .innovation__heading {
    text-align: left;
    padding: 0;
    max-width: 100%;
    font-size: 3.5rem;
    }

  .innovation__heading-content {
    text-align: left;
    max-width: 80%;
    font-size: 1.7rem;

  }

  .image__container--innovation {
    grid-column: 2;
    width: 26em;
    height: 22em;
    justify-self: right;
  }

  /* Experience-section */

  .content--experience {
    display: flex;
    height: 60vh;
    padding: 0;
    align-items: center;
    justify-content: center;

  }

  .experience {
    display: grid;
    width: 80%;
    height: 100%;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }

  .heading__container--experience {
    display: grid;
    grid-column: 2;
    max-width: 80%;
    max-height: 100%;
    gap: 2em;
    justify-self: right;
  }

  .experience__heading {
    text-align: left;
    padding: 0;
    width: 80%;
    font-size: 3.5rem;
    }

  .experience__heading-content {
    text-align: left;
    width: 100%;
    font-size: 1.7rem;
  }

  .image__container--experience {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    width: 26em;
    height: 22em;
    align-items: center;
  }

  .experience__image {
    grid-column: 1;
    grid-row: 1;
    width: 26em;
    height: 22em;
  }

  /* Responsibility-section */

  .content--responsibility {
    display: flex;
    height: 60vh;
    padding: 0;
    align-items: center;
    justify-content: center;
  }

  .responsibility {
    display: grid;
    width: 80%;
    height: 100%;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }

  .heading__container--responsibility {
    display: grid;
    text-align: right;
    grid-column: 1;
    max-width: 65%;
    max-height: 100%;
    gap: 2em;
    justify-self: left;
  }

  .responsibility__heading {
    text-align: left;
    padding: 0;
    width: 80%;
    font-size: 3.5rem;
    }

  .responsibility__heading-content {
    text-align: left;
    max-width: 100%;
    font-size: 1.7rem;
  }

  .image__container--responsibility {
    grid-column: 2;
    width: 26em;
    height: 22em;
    justify-self: right;
  }

  .responsibility__image {
    grid-column: 1;
    grid-row: 1;
    width: 26em;
    height: 22em;
  }

  /* Footprint-section */

  .content--footprint {
    display: flex;
    height: 70vh;
    padding: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .footprint {
    display: grid;
    width: 80%;
    height: 100%;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }

  .heading__container--footprint {
    display: grid;
    text-align: right;
    grid-column: 2;
    max-width: 80%;
    max-height: 100%;
    gap: 2em;
    justify-self: right;
  }

  .footprint__heading {
    text-align: left;
    padding: 0;
    width: 80%;
    font-size: 3.5rem;
    }

  .footprint__heading-content {
    text-align: left;
    max-width: 100%;
    font-size: 1.7rem;
  }

  .image__container--footprint {
    grid-column: 1;
    grid-row: 1;
    width: 26em;
    height: 22em;
  }

  .footprint__image {
    grid-column: 1;
    grid-row: 1;
    width: 26em;
    height: 22em;
  }

  .footprint__heading-booking {
    font-size: 3.5rem;
    padding: 0;
    padding-bottom: 1em;
  }

  /* Booking-section */

  .content--booking {
    display: flex;
    padding: 0;
    min-height: 60vh;
    align-items: center;
    justify-content: center;
  }

  .booking {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    justify-self: center;
    max-width: 80%;
    padding-bottom: 5em;
  }

  .booking__input--check-in, .booking__input--check-out, .booking__input--guests {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }


  #check-in-date, #check-out-date, #guests {
    width: 10em;
    border: 2px solid black;
    padding-left: 0.2em;
  }

  .button--find-room {
    grid-column: 2;
    justify-self: center;
    grid-row: 2;
    align-self: flex-start;
    margin: 0;
  }  

  /* Room-display section */

  .content--room-display {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 3em 9em 0 9em;
  }

  .room-display {
    gap: 2em;
  }

  .room-display__room-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
    
  }

  .heading__container--room-display {
    grid-column: 2;
  }

  .room-display__room-item {
    display: flex;
    flex-direction: column;
    padding: 1em;
    background: #f0f0f0;
    border: 1px solid #ccc;
    height: 100%;
    max-width: 25em; 
    min-width: 20em; 
    
  }
  .room-display__footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .button--booking {
    align-self: flex-end;
    width: 60%;
  }

  .room-display__price {
    padding-bottom: 0.1em;
  }

  /* Contact-section */

  .content--contact {
    padding: 0.5em 3.8em 0 3.8em;
    height: 50vh;
  }
  .contact {
    display: flex;
    justify-content: center;

  }

  .contact__heading {
    font-size: 3.5rem;
  }

  .contact__container {
    display: flex;
    justify-content: space-between;
  }

  .contact__heading-content-adress {
    font-family: 'Poppins';
    font-family: 1.7rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header__navbar--mobile {
    display: none;
    width: 100%;
  }

  .header__navbar {
    height: 100%;
    width: 100%;
  }

  .header__navbar--desktop {
    display: flex;
    align-items: center;
    height: 3.5em;
    justify-content: center;
    max-width: 100%;
  }

  .header__navbar-link {
    font-family: 'Altone Trial';
    font-size: 1.2rem;
    color: var(--white);
    margin-right:10% ;
  }

  .hero__heading-container {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    padding: 0 0 10em 7em;
  }
  .hero__heading {
  
    width: 20em;
    line-height: 3.5rem;
  }


  .hero__bonzai {
    font-size: 7rem;
  }
  
  .hero__slogan {
    width: 28em;
  }

  .button--hero {
    margin: 8em 0 0 5em;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content--innovation, .content--experience, .content--responsibility, .content--footprint {
    height: 65vh;
  }

  .innovation, .experience, .responsibility, .footprint {
    align-items: center;
  }

  .content--footprint {
    height: 75vh;
  }

  .content--room-display {
    height: auto;
  }

  .heading__container {
    text-align: center;
  }

  .image__container {
    justify-self: center;
  }
}

@media (min-width: 567px) and (max-width: 767px) {
  .header__navbar--mobile {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  .header__navbar {
    height: 100%;
    width: 100%;
  }

  .header__navbar--desktop {
    display: none;
  }

  .hero__heading {
    width: 48%;
    min-width: 40%;
    line-height: 4.1rem;
    padding-left: 3em;
  }

  .hero__heading-container {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    padding: 0 0 10em 0em;
  }
  .hero__heading {
  
    width: 20em;
    line-height: 3.5rem;
  }

  .hero__bonzai {
    font-size: 7rem;
  }
  
  .hero__slogan {
    padding: 0 0 0 3.3em;
    width: 15em;
  }

  .button--hero {
    margin: 8em 0 0 3.3em;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .innovation, .experience, .responsibility, .footprint {
    align-items: center;
  }

  .content--footprint {
    height: 75vh;
  }

  .content--room-display {
    height: auto;
  }

  .heading__container {
    text-align: center;
  }
}

@media (min-width: 430px) and (max-width: 566px) {
  .header__navbar--mobile {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
/* 
  .header__navbar {
    height: 100%;
    width: 100%;
  } */

/*   .header__navbar--desktop {
    display: none;
  } */

  .hero__heading-container {
    padding: 0 0 10em 1em;
  }
  .hero__heading {
    line-height: 3.5rem;
  }

  .hero__bonzai {
    font-size: 7rem;
  }
  
  .hero__slogan {
    padding: 0 0 0 0.3em;
    width: 12em;
  }

  .button--hero {
    margin: 8em 0 0 1em;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .innovation, .experience, .responsibility, .footprint {
    align-items: center;
  }

  .content--footprint {
    height: 75vh;
  }

  .content--room-display {
    height: auto;
  }

  .heading__container {
    text-align: left;
  }
}

@media screen and (max-width: 429px) {
  .body {
    width: 100%;
    overflow-x: hidden;
  }
  
  .header__navbar--mobile {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  .hero {
    display: flex;
    font-family: var(--altone-bold);
    grid-area: hero;
    height: 100vh;
    max-width: 100vw; 
    width: 100vw;
    position: relative;
    align-items: center;
  }

  .hero__heading-container {
    padding-left: 1em;
  }

  .button--hero {
    margin-top: 2em;
    margin-left: 1em;
  }

  .content {
    padding: 1.5em 1em 0 1em;
    height:70vh;
    width: 100vw;  
  }

  .image__container {
    max-width: 100%;
  }
  
  .content--room-display {
    height: auto;
    padding: 1em 0.5em 0 0.5em;
  }

  .room-display__room-item {
    width: 90%;
  }

  .content--footprint {
    height: auto;
  }

  .footprint__heading-booking {
    padding-bottom: 0.5em;
  }

  .content--contact {
    padding: 0.5em 0.5em 0 0.5em;
    height: 60vh;
  }
}

