:root {
  --standard-padding: 0 1em 0 1em;
  --white: #FDFDFD;
  --black: #333333;
  --green: #094936;
  --blue: #55EABD;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: 
  'header'
  'hero'
  'innovation'
  'experience'
  'responsibility'
  'footprint'
  'booking'
  'roomdisplay'
  'contact'
  ;

  grid-template-columns: 1fr;
  grid-template-rows: auto ;
}

.header {
  display: flex;
  align-items: center;
  padding: var(--standard-padding);
  width: 100%;
  height: 4em;
  background-color: transparent;
  position:fixed;
}

.header__logo {
  width: 50px;
  height: 50px;
}

.header__image {
  width: 100%;
  height: 100%;
}

.hero {
  height: 100vh;
  width: 100%; 
}

.hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}