:root {
  --standard-padding: 0 1em 0 1em;
  --white: #FDFDFD;
  --black: #333333;
  --green: #094936;
  --blue: #55EABD;
  --altone-bold: 'Altone Trial', sans-serif;
  --altone-reg: 'Altone Trial Regular', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color:var(--white);
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-areas: 
  'header'
  'hero'
  'innovation'
  'experience'
  'responsibility'
  'footprint'
  'booking'
  'roomdisplay'
  'contact'
  ;

  grid-template-columns: 1fr;
  grid-template-rows: auto ;
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  padding: var(--standard-padding);
  width: 100%;
  min-height: 3.7em;
  background-color: transparent;
  position: fixed;
  z-index: 999;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.header__navbar {
  height: 100%;
  width: 100%;
}

.header__navbar--mobile {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.header__logo {
  width: 50px;
  height: auto;
}

.header__image {
  width: 100%;
  height: 100%;
}

.header__navbar--desktop {
  display: none;
}

.header__menu-icon {
  width: 60px;
  height: auto;
}

.hero {
  display: flex;
  font-family: var(--altone-bold);
  grid-area: hero;
  height: 100vh;
  width: 100%; 
  position: relative;
  align-items: center;
}

.hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__heading-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  line-height: 3rem;
  color: var(--blue);
  padding: 0 0 16em 1.5em;
}

.hero__experience {
  font-size: 2.8rem;
  color: var(--white);
  padding-left: 0.1em;
}

.hero__bonzai {
  color: var(--blue);
  margin: 0;
  letter-spacing: -7px;
  font-size: 5.5rem;
}

.hero__slogan {
  font-weight: 500;
  color: var(--white);
  font-size: 1.5rem;
  width: 12em;
  letter-spacing: -1px;
  line-height: 1.5rem;
  padding-left: 0.3em;
}

.hero__slogan-highlight {
  color: var(--blue);
}

.button {
  font-family: var(--altone-bold);
  font-size: 1.5rem;
  position: absolute;
  width: 8em;
  height: 2em;
  background-color: transparent;
  color: var(--white);
  border: 2px solid var(--white);
  margin-left: 1.3em;
  border-radius: 16px;
  font-weight: 700;
  box-shadow: 0 0 2px 0;
  letter-spacing: -1px;
}

.button--hero {
  margin-top: 2em;
}

.hero__wrapper {
  position: absolute;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 0;
  top: 85%;
  gap: 5px;
  width: 100%;
}

.hero__learn-more {
  font-size: 1.5rem;
  font-family: var(--altone-bold);
}

.hero__learn-more-icon {
  height: auto;
  width: 40px;
}

.content {
  font-family: 'Altone Trial';
  background-color: var(--white);
  height: 70vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5em;
  padding: 0 1.5em 0 1.5em;
}

.heading__container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.content__heading {
  font-size: 2.7rem;
  text-align: left;
  color: var(--black);
  letter-spacing: -2px;
  padding-top: 1em;
}

.content__info {
  font-size: 1.3em;
  font-weight: 300;
  text-align: left;
}

.content__image-container {
  max-width: 24em;
  height: auto;
}

.content__image {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

/* innovation */

.content--innovation {
  grid-area: innovation;
  padding: 0;
}

.content__heading--innovation {
  text-align: center;
}

.content__info--innovation {
  text-align: center;
}

.innovation__heading--highlight {
  color: var(--blue); 
}

.innovation__heading-care {
  font-weight: 600;
}

/* Experience */

 .content--experience {
  grid-area: experience;
  background-color: var(--green);
 }

 .content__heading--experience {
  font-size: 2.7rem;
  color: var(--blue);
  text-align: left;
 }

 .content__info--experience {
  font-size: 1.3em;
  color: var(--white);
 }

/* Responsibility */

.content--responsibility {
  grid-area: responsibility;
}

.content__heading--responsibility {
  color: var(--black);
}

.content__info--responsibility {
  font-size: 1.3em;
  color: var(--black);
}

/* Footprint */

.content--footprint {
  height: 100vh;
  grid-area: footprint;
  background-color: var(--green);
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.content__heading--footprint {
  color: var(--blue);
}

.content__info--footprint {
  color: var(--white);
}

.content__heading--book-stay{
  font-size: 2.2rem;
  color: var(--blue);
  text-align: center;
  padding: 0;
}

/* Booking */

.content--booking {
  grid-area: booking;
  font-size: 1.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.booking__input {
  gap:0.3em;
  text-align: center;
}

#check-in-date, #check-out-date, #guests {
  font-family: 'Poppins';
  width: 13em;
  height: 2em;
  font-size: 1.5rem;
  border: 2px solid black;
  padding-left: 0.2em;
  border-radius: 10px;
}

#booking__guests-content, #booking__guests-check-out-date, #booking__guests-check-in-date {
  font-size: 1rem;
}

.button--find-room {
  position: relative;
  border: none;
  background-color: var(--blue);
  margin: 0;
  font-size: 1.8rem;
}

.button--booking {
  position: relative;
  border: none;
  background-color: var(--blue);
  margin: 1.5em 0 0 0;
  font-size: 1.8rem;
}

/* Room display */

.content--room-display {
  grid-area: roomdisplay;
  background-color: var(--green);
}

.content__heading--room-display {
  color:var(--blue)
}

.content__info--room-display {
  font-size: 1.7rem;
  text-align: center;
  color: var(--blue);
}

.room-display__room-list {
  display: grid;
  gap:3em;
  min-height: 30vh;
  margin-bottom: 4em;
}

.room-display__room-item {
  width: 100%;
  min-width: 22em;
  max-width: 24em;
  min-height: 35em;
  background-color: var(--white);
  border-radius: 16px;
}

.room-display__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.room-display__header {
  height: 1.5em;
  font-size: 2.6rem;
  padding: 0 1em 1em 0.3em;
  font-weight: 700;
  color: var(--black);
}

.room-display__description {
  font-size: 1.4rem;
  padding: 0 1em 1em 0.6em;
  color: var(--black);
  line-height: 1.4rem;
}

.room-display__footer {
  display: flex;
  height: 5.4em;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  align-items: center;
  padding: 0 1em 0 1em;
  justify-content: space-between;
}

.button--booking {
  margin: 0;
  width: 7em;
  font-size: 1.7rem;
}

.room-display__price {
  font-family: 'Poppins';
  font-size: 1.7rem;
  font-weight: bold;
}

/* Contact */

.content--contact {
  grid-area: contact;
  min-height: 35vh;
  background-color: var(--white);
  font-size: 2.3rem;
  align-items: left;
  padding: 0 0.5em 0 0.5em;
  gap: 1em;
}

.content__heading--contact {
  width: 100%;
  text-align: left;
}

.contact__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1em;
}

.adress, .email {
  font-weight: 600;
}
.contact__heading-content-adress {
  font-family: 'Poppins';
  font-size: 1.6rem;
  width: 12em;
}


@media (min-width: 1025px) {

  body {
    display: grid;
    overflow-x: hidden;
    grid-template-areas: 
      'header header'
      'hero hero'
      'innovation innovation'
      'experience experience'
      'responsibility responsibility'
      'footprint footprint'
      'booking booking'
      'roomdisplay roomdisplay'
      'contact contact';
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content; 
  }

  .header__navbar--mobile {
    display: none;
  }

  .header__navbar--desktop {
    display: flex;
    align-items: center;
    height: 3.5em;
    justify-content: center;
    gap: 5em;
  }

  .header__navbar-link {
    font-family: 'Altone Trial';
    font-size: 1.5rem;
    color: var(--white);
    margin-right:7% ;
  }

  .hero__heading-container {
    padding: 0 0 10em 7em;
  }

  .hero__heading {
    width: 20em;
    line-height: 3.5rem;
  }

  .hero__bonzai {
    font-size: 7rem;
  }
  
  .hero__slogan {
   width: 28em;
  }

  .button--hero {
    margin: 8em 0 0 5em;
  }

  .content {
    padding: 0 9em;
    gap: 4em;
    height: 65vh;
  }
  
   .heading__container {
    gap: 2em;
  }
  
  .content__heading {
    font-size: 3.5rem;
    text-align: left;
    color: var(--black);
    letter-spacing: -2px;
    align-self: center;
  }
 
  .content__info {
    font-size: 1.5em;
    font-weight: 300;
    text-align: left;
  }
  
  .content__image-container {
    max-width: 32em;
    min-width: 21em;
    height: auto;
  }
  
  .content__image {
      width: 100%;
      height: 100%;
      border-radius: 16px;
  }  

  /* Innovation-section */

  .content--innovation {
    display: grid;
    grid-template-columns: 1fr 1fr; 
  }

  .heading__container--innovation {
    grid-column: 1 / 2;
    padding: 0;
  }

  .content__heading--innovation {
    padding: 0;
  }

  .content__image-container--innovation {
    grid-column: 2 / 2;
  }

  /* Experience-section */

  .content--experience {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
  }

  .heading__container--experience {
    grid-row: 1; 
    grid-column: 2 / 3; 
  }

  .content__image-container--experience {
    grid-row: 1; 
    grid-column: 1 / 2; 
  }

  .content__heading--experience {
    color: var(--blue);
    padding: 0;
    align-self: flex-start;
  }

  /* Responsibility-section */

  .content--responsibility {
    display: grid;
    grid-template-columns: 1fr 1fr; 
  }

  .heading__container--responsibility {
    grid-column: 1 / 2;
    padding: 0;
  }

  .content__heading--responsibility {
    align-self: flex-start;
    padding: 0;
  }

  .content__image-container--responsibility {
    grid-column: 2 / 2;
  }

  /* Footprint-section */

  .content--footprint {
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 10% ; 
  }

  .heading__container--footprint {
    grid-row: 1; 
    grid-column: 2 / 3; 
  }

  .content__image-container--footprint {
    grid-row: 1; 
    grid-column: 1 / 2; 
  }

  .content__heading--footprint {
    color: var(--blue);
    padding: 0;
    align-self: flex-start;
  }

  .content__heading--book-stay{
    font-size: 3.5rem;
    color: var(--blue);
    grid-row: 2;
    grid-column: 1 / 3;
    justify-self: center;
    padding-bottom: 2em;
  }

  /* Booking-section */

  .content--booking {
    padding: 0;
    height:65vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 9em;
    gap: 1em;
  }

  #check-in-date, #check-out-date, #guests {
    width: 10em;
    border: 2px solid black;
    padding-left: 0.2em;
  }

  .button--find-room {
    grid-column: 2;
    justify-self: center;
    grid-row: 2;
    align-self: flex-start;
    margin: 0;
  }  

  /* Room-display section */

  .content--room-display {
    min-height: 100vh;   /* Ensure it's at least the height of the viewport */
    height: auto;     
    gap: 2em;            
    padding: 0 9em;     
  }

  .room-display__room-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24em, 1fr)); 
    width: 100%; 
    gap: 2em; 
  }

  .heading__container--room-display {
    gap: 0;
  }

 .content__heading--room-display {
  color: var(--blue);
 }

 .content__info--room-display {
  text-align: center;
 }

  .room-display__room-item {
    display: flex;
    height: auto;
    max-height: 25em;
    flex-direction: column;
    max-width: 25em; 
    min-width: 20em;  
    justify-self: center;
  }

  .room-display__image {
    width: 100%;
    min-height: 50%;
    max-height: 50%;
  }

  .room-display__description {
    height: 90%;
    padding-bottom: 0;
  }

  .room-display__footer {
   padding: 0 1em 1em 1em;
  }
  
  .button--booking {
    width: 50%;
  }

  /* Contact-section */

  .content--contact {
    display: flex;
    flex-direction: column;
    padding: 0.5em 3.8em 0 3.8em;
    height: 50vh;
    gap: 1em;
    align-items: center;
  }

  .content__heading--contact{
    padding: 0;
    text-align: center;
  }

  .contact__container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {

  .header__navbar--mobile {
    display: none;
 }

  .header__navbar--desktop {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header__navbar-link {
    font-family: 'Altone Trial';
    font-size: 1.2rem;
    color: var(--white);
    margin-right:10%;
  }

  .hero__heading-container {
    padding: 0 0 10em 7em;
  }

  .hero__heading {
    width: 20em;
    line-height: 3.5rem;
  }

  .hero__bonzai {
    font-size: 7rem;
  }
  
  .hero__slogan {
    width: 28em;
  }

  .button--hero {
    margin: 8em 0 0 5em;
  }

  .content {
    height: 65vh;
  }
  
  .heading__container {
    width: 60%;
  }

  .content__heading {
    text-align: center;
  }

  .content__info {
    text-align: center;
  }

  .content--footprint {
    height: 75vh;
  }

  .content--room-display {
    height: auto;
  }

  .image__container {
    justify-self: center;
  }

  .content__heading--book-stay {
    font-size: 3rem;
  }

  .booking__input {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  }

  .contact__container {
    align-items: center;
    text-align: center;
  }
}

@media (min-width: 567px) and (max-width: 767px) {
  .hero__heading {
    padding-left: 3em;
  }

  .hero__heading-container {
    padding: 0 0 10em 0em;
  }

  .hero__heading {
    width: 20em;
    line-height: 3.5rem;
  }

  .hero__bonzai {
    font-size: 7rem;
  }
  
  .hero__slogan {
    padding: 0 0 0 3.3em;
    width: 15em;
  }

  .button--hero {
    margin: 8em 0 0 3.3em;
  }

  .heading__container {
    max-width: 24em;
  }

  .content--footprint {
    height: 80vh;
  }

  .content__heading--book-stay {
    font-size: 3rem;
  }

  .content--room-display {
    height: auto;
  }
}

@media (min-width: 430px) and (max-width: 566px) {
  .header__navbar--mobile {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
/* 
  .header__navbar {
    height: 100%;
    width: 100%;
  } */

/*   .header__navbar--desktop {
    display: none;
  } */

  .hero__heading-container {
    padding: 0 0 10em 1em;
  }
  .hero__heading {
    line-height: 3.5rem;
  }

  .hero__bonzai {
    font-size: 7rem;
  }
  
  .hero__slogan {
    padding: 0 0 0 0.3em;
    width: 12em;
  }

  .button--hero {
    margin: 8em 0 0 1em;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .innovation, .experience, .responsibility, .footprint {
    align-items: center;
  }

  .content--footprint {
    height: 75vh;
  }

  .content--room-display {
    height: auto;
  }

  .heading__container {
    text-align: left;
  }
}

@media screen and (max-width: 429px) {
  .hero__heading-container {
    padding-left: 1em;
  }

  .button--hero {
    margin-top: 2em;
    margin-left: 1em;
  }

  .content--innovation {
      padding: 0 1.5em 0 1.5em;
    }

  .content {
    height:70vh;
    width: 100vw;  
  }

  .image__container {
    max-width: 100%;
  }
  
  .content--room-display {
    height: auto;
    padding: 1em 1em 0 1em;
  }

  .room-display__room-item {
    max-width: 70%;
  }

  .content--footprint {
    height: 80vh;
  }

  .content__heading--book-stay {
    padding-bottom: 0.5em;
  }

  .content--contact {
    height: 90vh;
  }
}

